<div class="bg-green-50 relative isolate overflow-hidden h-screen -mb-28">
  <!--
  This example requires updating your template:

  ```
  <html class="h-full">
  <body class="h-full">
  ```
-->
  <main class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
      <p class="text-base font-semibold text-indigo-600"></p>
      <img class="h-32 mx-auto mb-10" src="/icon3.png" alt="Kryptonite" />

      <h1
        class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"
      >
        Coming Soon
      </h1>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="/"
          class="rounded-md bg-green-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-800"
          >Go back home</a
        >
        <a
          href="https://www.kryptonite.finance/litepaper"
          target="_blank"
          class="text-sm font-semibold text-gray-900"
          >Learn more <span aria-hidden="true">&rarr;</span></a
        >
      </div>
    </div>
  </main>

  <svg
    viewBox="0 0 1024 1024"
    class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] opacity-50"
    aria-hidden="true"
  >
    <circle
      cx="512"
      cy="512"
      r="512"
      fill="url(#827591b1-ce8c-4110-b064-7cb85a0b1217)"
      fill-opacity="0.7"></circle>
    <defs>
      <radialGradient id="827591b1-ce8c-4110-b064-7cb85a0b1217">
        <stop stop-color="#22c55e"></stop>
        <stop offset="1" stop-color="#15803d"></stop>
      </radialGradient>
    </defs>
  </svg>
</div>
