---
import Nav from "../components/Nav.jsx";
import Footer from "../components/Footer.astro";
---

<style is:global>
  .text-gradient {
    background: linear-gradient(100deg, #14532d 4.29%, #16a34a 91.35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo-square.png" />
    <meta name="generator" content={Astro.generator} />

    <title>Kryptonite | Liquid Staking</title><meta
      content="width=device-width, minimum-scale=1"
      name="viewport"
    /><meta name="robots" content="follow, index" /><meta
      content="Maximize your staking strategies with the premier liquid
      staking platform offering unmatched leverage."
      name="description"
    /><meta property="og:url" content="/" /><link
      rel="canonical"
      href="/"
    /><meta property="og:type" content="website" /><meta
      property="og:site_name"
      content="Kryptonite"
    /><meta
      property="og:description"
      content="Maximize your staking strategies with the premier liquid
      staking platform offering unmatched leverage."
    /><meta property="og:title" content="Kryptonite| Liquid Staking" />
    <meta name="twitter:card" content="summary_large_image" /><meta
      name="twitter:site"
      content="@"
    /><meta name="twitter:title" content="Kryptonite Finance" /><meta
      name="twitter:description"
      content="Maximize your staking strategies with the premier liquid staking platform offering unmatched leverage."
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="!scroll-smooth font-body">
    <Nav client:load />
    <slot />
    <Footer />
  </body>
</html>
